body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  flex: 1 1 auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 12vw;
  color: #333;
}

h2 {
  font-size: 4em;
}

a,
a:visited {
  color: #229;
  text-decoration: none;
}
